<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'CART' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="not-found" *ngIf="total == 0">
    <img src="./assets/images/nodata.png" />
    <p>{{ 'NO_ITEMS_FOUND' | translate }}</p>
  </div>
  <ion-list lines="none">
    <ion-item *ngFor="let item of cart; let i = index">
      <ion-thumbnail slot="start">
        <img src="{{item.photoURL}}" style="border-radius: 8px;" />
      </ion-thumbnail>
      <ion-label style=" text-align: center;">
        <ion-text>
          <h3>{{item.name}}</h3>
        </ion-text>
        <ion-button class="cart-button" color="primary" fill="solid" size="small" (click)="increase(i)">+</ion-button>
        <ion-button fill="clear" color="secondary">{{item.qty}}</ion-button>
        <ion-button class="cart-button" color="primary" fill="solid" size="small" (click)="decrease(i)">-</ion-button>
      </ion-label>
      <ion-text slot="end">
        {{currency}} {{item.qty * item.price}}
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer *ngIf="total != 0" class="ion-padding">
  <ion-toolbar>
    <ion-list lines="none">
      <ion-item>
        <ion-label>
          Total
        </ion-label>
        <ion-text slot="end" class="final-price">
          {{currency}} {{finalPrice}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-label>
          <h3>{{ 'DELIVER_TO' | translate }}</h3>
        </ion-label>
        <ion-button fill="clear" *ngIf="addresses.length == 0" slot="end" routerLink="/addaddress">
          Select</ion-button>
        <ion-select slot="end" *ngIf="addresses.length != 0" [(ngModel)]="addressIndex" (ionChange)="updateAddress()"
          placeholder="select">
          <ion-select-option *ngFor="let address of addresses; let i=index" value="{{i}}">{{address.tag}}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <p style="font-size: 12px;" *ngIf="address.address != undefined">{{ address.address }}</p>
    <ion-button fill="solid" *ngIf="!isSubscribe" expand="block" (click)="checkout()">
      {{ 'CHECKOUT' | translate }}
    </ion-button>
  </ion-toolbar>
</ion-footer>