<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{ 'HOME' | translate }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div>
    <div class="category-slides" *ngIf="banners.length !=0 ">
      <div *ngFor="let b of banners" class="slide">
        <img src="{{b.url}}" style="height: 120px" />
      </div>
    </div>
    <div class="category-slides" *ngIf="banners.length ==0 ">
      <div *ngFor="let x of [].constructor(4)" class="slide">
        <ion-skeleton-text animated style="height: 120px;width:120px"></ion-skeleton-text>
      </div>
    </div>

  </div>
  <div>
    <h5 *ngIf="categories.length != 0">Categories</h5>
    <div class="category-slides">
      <div class="category-slide" *ngFor="let c of categories" (click)="filter(c)">
        <img src="{{c.photoURL}}" />
        <h3>{{c.name}}</h3>
      </div>
    </div>
  </div>
  <div class="filter-card">
    <div>
      <h5>Dishes <span *ngIf="products.length != allProducts.length">({{selectedCategory}})</span></h5>
      <p *ngIf="products.length != allProducts.length">{{products.length}} items found </p>
    </div>
    <div>
      <ion-button fill="clear" size="small" (click)="resetProduct()" *ngIf="products.length != allProducts.length">Reset
      </ion-button>
    </div>
  </div>
  <ion-grid>
    <ion-row *ngIf="products.length == 0">
      <ion-col size="6" *ngFor="let x of [].constructor(4)" class="product-card">
        <ion-skeleton-text animated style="height: 160px;"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 50%;"></ion-skeleton-text>
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="products.length != 0">
      <ion-col size="6" *ngFor="let product of products" class="product-card">
        <img src="{{product.photoURL}}" onerror="this.src='http://placehold.it/500x500'" />
        <h3 class="product-name">{{product.name}}</h3>
        <div class="add-cart">
          <p class="product-price">{{currency}} {{product.price}}</p>
          <ion-button size="small" fill="solid" (click)="addToCart(product)">+</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>