<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-slides pager="true">
    <ion-slide>
      <img src="./assets/images/slide_1.png" />
      <h3>Get Fresh Food</h3>
      <p>Say goodbye to premade or packed foods</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/images/slide_2.png" />
      <h3>Track your orders</h3>
      <p>Keep eye on your order</p>
    </ion-slide>
    <ion-slide>
      <img src="./assets/images/slide_3.png" />
      <h3>Reserve your seats</h3>
      <p>Want to book seats? let's do it</p>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-padding">
  <ion-toolbar>
    <ion-button expand="block" (click)="skip()">Let's Start</ion-button>
  </ion-toolbar>
</ion-footer>