<ion-content>
  <div style="width: 350px; margin:auto; display: flex; flex-direction: column;height: 100%;justify-content: center;">
    <ion-card>
      <ion-list lines="none">
        <ion-item>
          <ion-label position="stacked">Email</ion-label>
          <ion-input type="text" [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </ion-list>
      <div class="ion-padding">
        <ion-button expand="block" (click)="login()">Login</ion-button>
      </div>
    </ion-card>
  </div>
</ion-content>